.navbar {
  display: flex;
  background-color: var(--color-primary);
  height: 60px;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-primary);
  font-size: x-large;
  color: black;
  padding: 10px;
  z-index: 2;
}

.navbar1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.aactive {
  border: 2px solid #2b2d42;
  border-radius: 12px;
  background-color: #8d99ae;
  padding: 5px;
  align-items: center;
}
