body {
  background-color: var(--color-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.back{
  background-image:url(../../Assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.form{
  width: 600px;
  height: 600px;
  background-color: #edf2fd;
  border: 1px solid #8d99ae;
  margin: "auto";
  border-radius: 7px;
  position: relative;
  top: 200px;
  left:200px
}

.head{
  position: absolute;
  top: 100px;
  left: 227px;
}
