.image {
  position: relative;
  left: 10px;
  right: 0;
  top: 10px;
  bottom: auto;
  margin-bottom: 25px;

  .image-img {
    width: 330px;
    height: 200px;
  }
  .image-img2 {
    width: 457px;
    height: 280px;
  }
  .overlay {
    width: 330px;
    height: 200px;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: all ease-in 0.2s;
    opacity: 0;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .overlay2 {
    width: 457px;
    height: 280px;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: all ease-in 0.2s;
    opacity: 0;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
.border {
  margin-bottom: 80px;
}

.button {
  text-transform: none !important;
}
