.back {
  position: relative;
  left: 15px;
  top: 30px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(238.66deg, #0283e9 -18.13%, #fc01ca 120.27%);
}
.Paper {
  border-radius: 10px;
  height: 327.8px;
  &:hover {
    background: linear-gradient(238.66deg, #0283e9 -18.13%, #fc01ca 120.27%);
    color: white;
  }
}
.logo {
  position: relative;

  top: 25px;
  left: 25px;
}
.typo {
  line-height: 24px;
}
